<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="bi-custom bi-app" aria-hidden="true"></span>
            <span>Resident Portal</span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="" Match="NavLinkMatch.All">
                <Dashboard />
                <span class="ms-2">Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="map">
                <Calendar /> <span class="ms-2">Collection Calendar</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="resources">
                <Speech /> <span class="ms-2">Report Issues</span>
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="places">
                <CreditCard /> <span class="ms-2">Subscriptions</span>
            </NavLink>
        </div>

    </nav>

</div>
